//
//  llvm.xcconfig
//  This file is part of the "Kai" project, and is released under the MIT license.
//
//  Created by Samuel Williams on 12/07/10.
//  Copyright 2010 Samuel Williams. All rights reserved.
//

GCC_INLINES_ARE_PRIVATE_EXTERN=NO
GCC_SYMBOLS_PRIVATE_EXTERN=NO

GC_LIB_PATH=/opt/local/lib
GC_INC_PATH=/opt/local/include

GC_LDFLAGS="-L$(GC_LIB_PATH)"
GC_CFLAGS="-I$(GC_INC_PATH)"

// llvm-config --ldflags --libs core jit native all
//LLVM_PATH=/usr/local/llvm-2.7
//LLVM_BIN_PATH=$(LLVM_PATH)/bin
//LLVM_LIB_PATH=$(LLVM_PATH)/lib
//LLVM_INC_PATH=$(LLVM_PATH)/include

//LLVM_LDFLAGS="-L$(LLVM_LIB_PATH)" -lpthread -lm -lLLVMX86Disassembler -lLLVMX86AsmParser -lLLVMMCParser -lLLVMX86AsmPrinter -lLLVMX86CodeGen -lLLVMSelectionDAG -lLLVMBitReader -lLLVMAsmPrinter -lLLVMX86Info -lLLVMJIT -lLLVMExecutionEngine -lLLVMCodeGen -lLLVMScalarOpts -lLLVMInstCombine -lLLVMTransformUtils -lLLVMipo -lLLVMipa -lLLVMAnalysis -lLLVMTarget -lLLVMMC -lLLVMCore -lLLVMSupport -lLLVMSystem
//LLVM_CFLAGS="-I$(LLVM_INC_PATH)" -D__STDC_LIMIT_MACROS -D__STDC_CONSTANT_MACROS
