//
//  kai.xcconfig
//  This file is part of the "Kai" project, and is released under the MIT license.
//
//  Created by Samuel Williams on 12/07/10.
//  Copyright 2010 Orion Transfer Ltd. All rights reserved.
//

#include "base.xcconfig"

OTHER_CFLAGS=$(LLVM_CFLAGS) $(GC_CFLAGS)
OTHER_LDFLAGS=$(LLVM_LDFLAGS) $(GC_LDFLAGS)

PRODUCT_NAME=kai